/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}

/* Add your styles here */
.opaque {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: grey;
    opacity: 0.95;
}
.popup {
    position: fixed;
    width: 50%;
    top: 5vh;
    left: 20vw;
    background-color: white;
}
.popup nav {
    padding-left: 15px;
    padding-right: 15px;
}
.popup a.btn.opts-save-close,
.popup a.btn.opts-cancel {
    /* float: right; */
    margin-top: 0px;
    margin-right: 15px;
}
.popup div.opts,
.popup div.opts-main {
    margin-left: 15px;
    margin-right: 15px;
}
.m .tabs .tab.hidden,
.hidden {
    display: none;
}
#devicesList a.btn.opts-active.opts-add {
    width: 100px;
    float: right;
}
#devicesList i.material-icons.left {
    width: 14px;
}
div.opts-installed {
    float: left;
    border: 1px solid grey;
    margin-right: 15px;
    width: 130px;
    height: 35px;
    line-height: 35px;
    background-color: #90ee90;
    cursor: pointer;
}
div.opts-installed i.material-icons.right:hover {
    border: 1px solid #222;
    height: 35px;
    margin: -1px;
    background-color: #f99;
}
#devicesList td:nth-child(2) {
    width: 75vw;
}
#devicesList i.material-icons.right {
    margin-left: 5px;
}
.ruleType {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    width: 70%;
    pointer-events: none;
}

.ruleField {
    height:  15px;
    line-height: 15px;
    font-size: 11px;
    width: 70%;
    pointer-events: none;
}
.ruleText {
    float: left;
    max-width: 97px;
    pointer-events: none;
}
textarea#run_box {
    width: 100vw;
    height: 48vh;
}
textarea#run_box.invalid {
    border: 5px solid #f44336;
}
.ruleType .circle {
    width: 1em;
    line-height: 1em;
    border-radius: 50%;
    text-align: center;
    font-size: .8em;
    border: 1px solid #000;
    position: relative;
    top: -17px;
}
.ruleType span {
    margin-left: 13px;
}
